<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
<!--    <script type="text/javascript" {{ url_for('static', filename='javascript.js')}}></script>-->
</head>
<!--https://www.youtube.com/watch?v=ScU8g4ePR9Y-->
<body>
<!--    <h2>Ajax</h2>-->
<!--    <button type="button" onclick="refresh()">refresh</button>-->
    <section id="UFT-8">
        <H1>Used JSON</H1>
        <div id="content" >

        </div>
    </section>

<!--############### object #####################-->
<!--    <script type="text/javascript">-->
<!--        var objJSON;-->
<!--        objJSON = {"alert1":"alert_order", "alert2":"alert_id"};-->
<!--        document.getElementById('content').innerHTML = objJSON.alert1-->
<!--        + "    " + objJSON.alert2;-->
<!--    </script>-->
<!--############### function is error#####################-->
<!--    <script type="text/javascript">-->
<!--        var objJSON;-->
<!--        objJSON = {"alert1":"alert_order", "alert2":"alert_id"};-->
<!--        "render":function(){-->
<!--            document.getElementById('content').innerHTML = objJSON.alert1-->
<!--        + ""+ objJSON.alert2;}-->
<!--        };-->

<!--        objJSON.render();-->
<!--    </script>-->
<!--############### alert error#####################-->
<!--    <script type="text/javascript">-->
<!--        var objJSON;-->
<!--        objJSON = {"alert1":"alert_order", "alert2":"alert_id"};-->
<!--        "render":function(){-->
<!--            alert(objJSON.alert1-->
<!--        + ""+ objJSON.alert2);-->
<!--        }-->
<!--        };-->
<!--        objJSON.render();-->

<!--    </script>-->
<!--############### advance like #####################-->

</body>
<!--test1-->
<!--<script>-->
<!--    function refresh(){-->
<!--        let userInfo = {-->
<!--            'name':'Brenda',-->
<!--            'type': 'TICs'-->
<!--        }-->
<!--        const request =  new XMLHttpRequest()-->
<!--        request.open('GET' '/refresh/${JSON.stringify(userInfo)}')-->
<!--            const flaskMessage = request.responseText-->
<!--            console.log(flaskMessage)-->
<!--        }-->
<!--        request.send()-->
<!--    }-->
<!--</script>-->
</html>